node_modules/**/*
node_modules/

/SunnyServer
/SunnyServer/**
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.expo-shared/
.idea/

# macOS
.DS_Store
/.vscode/launch.json
/.vscode/settings.json
/SunnyServer/__pycache__/app.cpython-37.pyc
/app
