<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051695623142-fp6s6eti0h6l8p9cv6dalf4a01id0131.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051695623142-fp6s6eti0h6l8p9cv6dalf4a01id0131</string>
	<key>API_KEY</key>
	<string>AIzaSyBgi5dT2DZdLQmwT4-xPEzaejCyXDjj3rU</string>
	<key>GCM_SENDER_ID</key>
	<string>1051695623142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunnycompany.sunnyscanner</string>
	<key>PROJECT_ID</key>
	<string>comp3004-fa42f</string>
	<key>STORAGE_BUCKET</key>
	<string>comp3004-fa42f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051695623142:ios:0a7933752ff14ac66b8427</string>
	<key>DATABASE_URL</key>
	<string>https://comp3004-fa42f.firebaseio.com</string>
</dict>
</plist>